@use '../config'as *;

.btn {
  gap: var(--gutter-space);
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding-left: calc(var(--gutter-space) * 7);
  padding-right: calc(var(--gutter-space) * 7);
  height: var(--cta-height);
  @extend %boldFF !optional;
  @extend %flexbox !optional;
  @extend %buttonReset !optional;
  @extend %borRad100 !optional;
  @include transition(border 0.2s linear,
    padding 0.1s linear,
    box-shadow 0.1s linear,
    background-color 0.1s linear,
    color 0.1s linear);



  &__innerChild {
    gap: var(--gutter-space);
    justify-content: center;
    align-items: center;
    @extend %flexbox !optional;
  }

  &--flexReverse {
    flex-direction: row-reverse;
  }

  &__round {
    @include border-radius(100px);
  }

  &__primary-light {
    background: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 12%, 1);
    border: var(--border-1) solid hsla(11, 99%, 61%, 1);

    &:hover {
      background: var(--surface-neutral-4);
      box-shadow: 0px 8px 24px 0px hsla(0, 0%, 0%, 0.25);

    }

    &:active:focus {
      background: hsla(0, 0%, 96%, 1);
    }
  }

  &__primary-dark {
    background: hsla(11, 99%, 61%, 1);
    color: hsla(0, 0%, 100%, 1);

    &:hover {
      background: hsla(11, 99%, 61%, 1);
      box-shadow: 0px 8px 24px 0px hsla(0, 0%, 0%, 0.25);

    }

    &:active:focus {
      background: hsla(11, 77%, 47%, 1);
    }
  }

  &__secondary {
    border: var(--border-2) solid var(--secondary-default);

    &:hover {
      background: var(--tonal-default);
    }

    &:active:focus {
      outline-color: var(--secondary-default);
    }
  }

  &__primary-linkDark {
    color: hsla(11, 99%, 61%, 1);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: hsla(11, 99%, 61%, 1);
    }

    &:active:focus {
      color: hsla(11, 77%, 47%, 1);
    }
  }

  &__icon {
    color: var(--text-5);
    padding: 0 !important;
    aspect-ratio: 1/1;
    @include setProperty(font-size, 18);
    height: var(--cta-height);
  }

  span {
    @include setProperty(font-size, 16);
  }

  i {
    position: relative;
    flex-shrink: 0;
    font-family: 'he-icon' !important;
    @include setProperty(font-size, 20);
  }

  &:disabled,
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &__back {
    padding: 0;
    color: var(--text-5);
  }

  &--fullWidth {
    width: 100%;
  }
}

.icon--leading {
  .btn__innerChild {
    flex-direction: row-reverse;
  }
}