@use '../config' as *;
.notification {
  background: var(--nofication-bg);
  border: var(--border-1) solid var(--notification-stroke);
  padding: calc(var(--gutter-space) * 6);
  gap: calc(var(--gutter-space) * 2);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: auto;
  bottom: calc(var(--gutter-space) * 8);
  left: auto;
  right: calc(var(--gutter-space) * 8);
  z-index: 9999;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
  @extend %mediumFF !optional;
  @extend %flexbox !optional;
  @extend %borRad24 !optional;
  @include setProperty(font-size, 18);
  &.in {
    z-index: 9999999;
    @include opacity(1);
    @include transition(opacity 0.1s linear, padding-top 0.1s linear);
    @include animation('popInUp .15s both');
  }
  &.out {
    pointer-events: none;
    @include opacity(0);
    @include transition(opacity 0.1s linear, padding-top 0.1s linear);
    @include animation('popOutUp .15s both');
  }
  &__icon {
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    @include setProperty(width, 32);
    @include setProperty(height, 32);
    @include setProperty(font-size, 24);
    @extend %flexbox !optional;
    @extend %borRad100 !optional;
  }
  &__icon {
  }
  &__content {
  }
  &__cta {
    .btn {
      color: var(--notification-icon);
      // justify-content: flex-end;
      border-radius: 0 !important;
    }
  }
  &.success {
    background: var(--accent-success);
    .notification__icon {
      background: var(--neutral-1);
    }
  }
  &.danger {
    background: var(--accent-error);
    .notification__icon {
      background: var(--neutral-1);
    }
  }
  &.warning {
    background: var(--accent-warning);
    color: var(--neutral-1);
  }
}
