@use '../config/mixins' as *;

@mixin matchTag($tagThemeBg, $tagThemeColor) {
  background: $tagThemeBg;
  color: $tagThemeColor;
}
%buttonReset {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
%borRad100 {
  @include border-radius(setUnit(100));
}
%borRad48 {
  @include border-radius(setUnit(48));
}
%borRad30 {
  @include border-radius(setUnit(30));
}
%borRad24 {
  @include border-radius(setUnit(24));
}
%borRad16 {
  @include border-radius(setUnit(16));
}
%borRad14 {
  @include border-radius(setUnit(14));
}
%borRad12 {
  @include border-radius(setUnit(12));
}
%borRad10 {
  @include border-radius(setUnit(10));
}
%borRad8 {
  @include border-radius(setUnit(8));
}
%borRad6 {
  @include border-radius(setUnit(6));
}
%borRad4 {
  @include border-radius(setUnit(4));
}
%borRad2 {
  @include border-radius(setUnit(2));
}
%borRad0 {
  @include border-radius(setUnit(0));
}

//background size
%bgSize--cover {
  @include background-size(cover);
}

%bgSize--contain {
  @include background-size(contain);
}
