@use '../config/variables'as *;
@use '../config/variables-en'as *;
@use '../config/mixins'as *;
@use '../config/extend'as *;

* {
  margin: 0;
  padding: 0;
  // image-rendering: -moz-crisp-edges;
  // image-rendering: -o-crisp-edges;
  // image-rendering: -webkit-optimize-contrast;
  // image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  @include box-sizing(border-box);
}

body {
  position: relative;
  overflow-x: hidden !important;
  touch-action: manipulation;
  font-family: var(--regular-ff), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding: calc(var(--gutter-space) * 2);
  background: var(--main-bg);
  min-height: var(--window-inner-height);

  @media screen and (min-width: $media-lg-desktop-min) {
    padding: calc(var(--gutter-space) * 4);
  }

  @media screen and (min-width: $media-xlg-desktop-min) {
    padding: calc(var(--gutter-space) * 8);
  }

  &.ar {
    direction: rtl;
  }
}

html,
body {
  // height: 100%;
  min-height: var(--window-inner-height);
  font-size: var(--base-font-size) !important;
  /* Needed for container's min-height  */
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

.main {

  position: relative;
  line-height: normal;
  overflow-x: hidden;
  // height: 100vh;

  @include setProperty(font-size, 16);
  font-family: var(--regular-ff), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--neutral-1);
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  backface-visibility: hidden;
  font-variant-ligatures: no-common-ligatures;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  gap: calc(var(--gutter-space) * 2);
  @extend %gridbox !optional;
  @include animation('opacity .3s linear');

  @media screen and (min-width: $media-desktop-min) {
    gap: calc(var(--gutter-space) * 8);
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 0 calc(var(--gutter-space) * 4);

    @media screen and (min-width: $media-mobile-min) {
      // max-width: var(--screen-mob);
      // background-color: gray;
    }

    @media screen and (min-width: $media-tablets-min) {
      // max-width: var(--screen-tab);
      // background-color: blue;
    }

    @media screen and (min-width: $media-desktop-min) {
      // background-color: green;
    }

    @media screen and (min-width: $media-xlg-desktop-min) {
      max-width: var(--screen-desk);
      // background-color: yellow;
    }

    &--capturedCelebration {
      overflow: hidden;
      max-width: none !important;
    }

    &--fluid {
      width: 100%;
    }
  }

  &__row {}

  i {
    color: unset;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
    }
  }

  em {
    font-style: normal;
  }

  sup {
    top: auto;
    line-height: normal;
    vertical-align: text-top;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    font-weight: inherit;
  }

  b,
  strong {
    font-family: var(--bold-ff);
  }

  p {
    &:not(:last-child) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: $media-mobile-max) {
    @-moz-document url-prefix() {
      * {
        scrollbar-width: thin;
        scrollbar-color: hsl(38, 34%, 59%) hsla(251, 100%, 97%, 0.58);
      }
    }

    ::-webkit-scrollbar {
      width: 4px !important;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: hsla(251, 100%, 97%, 0.58);
    }

    ::-webkit-scrollbar-thumb {
      background: hsl(38, 34%, 59%);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: hsl(38, 34%, 59%);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {

    select:focus,
    textarea:focus,
    input:focus {
      //
    }

    input:focus,
    textarea:focus {
      @include placeholder {}
    }
  }

  input:focus,
  textarea:focus {
    @include placeholder {
      color: var(--transparent);
      box-shadow: none;
    }
  }

  input,
  textarea {
    @include placeholder {
      font-style: italic;
      color: var(--neutral-5);
      outline: none;
      box-shadow: none;
      font-family: var(--medium-ff);
    }
  }

  // :focus {
  //   outline: 0.2rem solid var(--primary-1);
  //   outline-offset: 0.3rem;
  // }
  *,
  *::before,
  *::after {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: var(--neutral-1);
    outline: 0;
    -webkit-tap-highlight-color: transparent;
  }
}

.noBodyScroll {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  @media screen and (max-width: $media-desktop-min) {
    position: fixed;
  }
}

.noClick {
  pointer-events: none;
}

.upcoming {
  @include matchTag(var(--background-3), var(--neutral-2));
}

.live {
  @include matchTag(var(--accent-1), var(--primary-1));
}

.teamLocked {
  @include matchTag(var(--neutral-7), var(--neutral-5));
}

.inReview {
  @include matchTag(var(--neutral-7), var(--neutral-5));
}

.postMatch {
  @include matchTag(var(--secondary-2), var(--primary-1));
}

.abandoned {
  @include matchTag(var(--accent-error), var(--neutral-2));
}

.completed {
  @include matchTag(var(--neutral-7), var(--neutral-5));
}

.success {
  @include matchTag(var(--accent-success), var(--neutral-2));
}

.danger,
.error {
  @include matchTag(var(--accent-error), var(--neutral-2));
}

.warning {
  @include matchTag(var(--accent-warning), var(--neutral-2));
}

.gridbox {
  @extend %gridbox !optional;
}

.flexbox {
  align-items: center;
  @extend %flexbox !optional;
}

.justify-center {
  justify-content: center;
}

.space16 {
  gap: calc(var(--gutter-space) * 4);
}

.space32 {
  gap: calc(var(--gutter-space) * 8);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: hsla(0, 0%, 12%, 1);
}

.text-light {
  color: hsla(0, 0%, 100%, 1);
}

.text-primary {
  color: hsla(11, 99%, 61%, 1);
}

.sectionWrapper {
  padding-top: calc(var(--gutter-space) * 12);
  padding-bottom: calc(var(--gutter-space) * 12);
  background: hsla(0, 0%, 100%, 1);
  gap: calc(var(--gutter-space) * 8);
  @extend %gridbox !optional;
  @extend %borRad24 !optional;

  &__head {
    gap: calc(var(--gutter-space) * 4);
    @extend %gridbox !optional;
  }
}

.section__heading {
  @extend %boldFF !optional;
  @include setProperty(font-size, 32);
}

.section__caption {
  @extend %regularFF !optional;
  @include setProperty(font-size, 16);

  p {
    &:not(:last-child) {
      margin-bottom: var(--gutter-space);
    }
  }
}

.section__container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--grid-width);
}

.section__grid {
  @extend %gridbox !optional;

  &--2by2 {
    grid-template-columns: repeat(2, 1fr);
  }
}