@use '../config/mixins'as *;
@use '../config/variables'as *;

// Font Family
%lightFF {
  font-family: var(--light-ff);
}

%regularFF {
  font-family: var(--regular-ff);
}

%mediumFF {
  font-family: var(--medium-ff);
}

%boldFF {
  font-family: var(--bold-ff);
}

%blackBoldFF {
  font-family: var(--black-ff);
}

// Typography
%title-h1 {
  @include setProperty(font-size, 40);
  @include setProperty(line-height, 52);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 48);
    @include setProperty(line-height, 62);
  }
}

%title-h2 {
  @include setProperty(font-size, 32);
  @include setProperty(line-height, 44);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 40);
    @include setProperty(line-height, 52);
  }
}

%title-h3 {
  @include setProperty(font-size, 24);
  @include setProperty(line-height, 34);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 32);
    @include setProperty(line-height, 42);
  }
}

%title-h4 {
  @include setProperty(font-size, 20);
  @include setProperty(line-height, 28);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 36);
    @include setProperty(line-height, 52);
  }
}

%title-h5 {
  @include setProperty(font-size, 18);
  @include setProperty(line-height, 24);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 24);
    @include setProperty(line-height, 36);
  }
}

%title-h6 {
  @include setProperty(font-size, 16);
  @include setProperty(line-height, 22);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 20);
    @include setProperty(line-height, 26);
  }
}

%subtitle-light {
  @include setProperty(font-size, 16);
  @extend %lightFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 18);
  }
}

%subtitle-regular {
  @include setProperty(font-size, 16);
  @extend %regularFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 18);
  }
}

%subtitle-medium {
  @include setProperty(font-size, 16);
  @extend %mediumFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 18);
  }
}

%subtitle-bold {
  @include setProperty(font-size, 16);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 18);
  }
}

%subtitle-blackBold {
  @include setProperty(font-size, 16);
  @extend %blackBoldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 18);
  }
}

%body-1-light {
  @include setProperty(font-size, 14);
  @extend %lightFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 16);
  }
}

%body-1-regular {
  @include setProperty(font-size, 14);
  @extend %regularFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 16);
  }
}

%body-1-medium {
  @include setProperty(font-size, 14);
  @extend %mediumFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 16);
  }
}

%body-1-bold {
  @include setProperty(font-size, 14);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 16);
  }
}

%body-1-blackBold {
  @include setProperty(font-size, 14);
  @extend %blackBoldFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 16);
  }
}

%body-2-light {
  @include setProperty(font-size, 12);
  @extend %lightFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 14);
  }
}

%body-2-regular {
  @include setProperty(font-size, 12);
  @extend %regularFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 14);
  }
}

%body-2-medium {
  @include setProperty(font-size, 12);
  @extend %mediumFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 14);
  }
}

%body-2-bold {
  @include setProperty(font-size, 12);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 14);
  }
}

%body-2-blackBold {
  @include setProperty(font-size, 12);
  @extend %blackBoldFF !optional;

  @media screen and (min-width: $media-tablets-min) {
    @include setProperty(font-size, 14);
  }
}

%body-3-light {
  @include setProperty(font-size, 10);
  @extend %lightFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 12);
  }
}

%body-3-regular {
  @include setProperty(font-size, 10);
  @extend %regularFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 12);
  }
}

%body-3-medium {
  @include setProperty(font-size, 10);
  @extend %mediumFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 12);
  }
}

%body-3-bold {
  @include setProperty(font-size, 10);
  @extend %boldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 12);
  }
}

%body-3-blackBold {
  @include setProperty(font-size, 10);
  @extend %blackBoldFF !optional;

  @media screen and (min-width: $media-mobile-min) {
    @include setProperty(font-size, 12);
  }
}