:root {
  --transparent: transparent;
  --googlePlus: hsl(7, 71%, 55%);
  --facebook: hsla(213, 100%, 50%, 1);
  --twitter: hsla(0, 0%, 0%, 1);
  --whatsApp: hsla(133, 100%, 32%, 1);
  --instagram: hsla(0, 0%, 0%, 1);
  --download: hsla(213, 5%, 39%, 1);

  /* primary */
  --primary-1: hsla(11, 99%, 61%, 1);
  --primary-2: hsla(11, 85%, 57%, 1);
  --primary-3: hsla(11, 79%, 56%, 1);
  --primary-4: transparent;
  --primary-5: transparent;
  /* secondary */
  --secondary-1: hsla(9, 100%, 96%, 1);
  --secondary-2: transparent;
  --secondary-3: transparent;
  --secondary-4: transparent;
  --secondary-5: transparent;
  /* neutral */
  --neutral-1: hsla(0, 0%, 12%, 1);
  --neutral-2: hsla(0, 0%, 100%, 1);
  --neutral-3: hsla(240, 8%, 95%, 1);

  // background
  --background-1: hsla(240, 8%, 95%, 1);
  --background-2: hsla(0, 0%, 100%, 1);

  /* accent */
  --accent-error: hsla(4, 74%, 49%, 1);
  --accent-error-faded: hsla(5, 70%, 90%, 1);
  --accent-success: hsla(97, 95%, 29%, 1);
  --accent-success-faded: hsla(143, 73%, 66%, 1);
  --accent-warning: hsla(36, 100%, 64%, 1);
  --accent-info: hsla(195, 100%, 50%, 1);
  --accent-1: hsla(49, 89%, 60%, 1);

  /* primary-cta */
  --cta-primary: linear-gradient(179.57deg, hsl(49, 89%, 60%) 0.37%, hsl(43, 74%, 42%) 99.63%);
  --cta-primary-text: hsla(30, 10%, 8%, 1);
  --cta-primary-icon: hsla(30, 10%, 8%, 1);
  --cta-primary-stroke: transparent;
  --cta-primary-hover: transparent;
  --cta-primary-active: transparent;
  /* secondary-cta */
  --cta-secondary: hsla(278, 100%, 11%, 1);
  --cta-secondary-text: hsla(35, 40%, 78%, 1);
  --cta-secondary-icon: hsla(35, 40%, 78%, 1);
  --cta-secondary-stroke: hsla(35, 40%, 78%, 1);
  --cta-secondary-hover: transparent;
  --cta-secondary-active: transparent;
  /* tertiary-cta */
  --cta-tertiary: hsla(225, 100%, 19%, 1);
  --cta-tertiary-text: hsla(0, 0%, 100%, 1);
  --cta-tertiary-icon: hsla(0, 0%, 100%, 1);
  --cta-tertiary-stroke: hsla(225, 100%, 19%, 1);
  --cta-tertiary-hover: transparent;
  --cta-tertiary-active: transparent;
  /* overlay */
  --overlay-fg: hsla(0, 0%, 0%, 0.5);
  --overlay-bg: hsla(0, 0%, 100%, 1);
  --overlay-title: hsla(30, 10%, 8%, 1);
  --overlay-caption: hsla(0, 0%, 0%, 1);
  --overlay-close: hsla(0, 0%, 0%, 1);
  --overlay-bg-close: hsl(0, 0%, 100%);

  /* navbar */
  --nav-bg: transparent;
  --nav-text: hsla(0, 0%, 100%, 0.6);
  --nav-active-stroke: hsla(0, 0%, 100%, 1);
  --nav-active-bg: transparent;
  --nav-active-text: hsla(0, 0%, 100%, 1);

  /* tab */
  --tab-bg: hsla(0, 0%, 91%, 1);
  --tab-text: hsla(30, 10%, 8%, 1);
  --tab-border: hsla(0, 0%, 54%, 1);
  --tab-active-bg: hsla(30, 10%, 8%, 1);
  --tab-active-text: hsla(0, 0%, 100%, 1);

  // table
  --tbl-head: hsla(0, 0%, 96%, 1);
  --tbl-head-text: hsla(205, 16%, 38%, 1);
  --tbl-body: hsla(0, 0%, 100%, 1);
  --tbl-body-text: hsla(0, 0%, 0%, 1);
  --tbl-border: hsla(0, 0%, 96%, 1);

  // stopwatch
  --stopwatch-bg: hsla(0, 0%, 100%, 1);
  --stopwatch-lbl: hsla(0, 0%, 20%, 1);
  --stopwatch-slug: hsla(0, 0%, 100%, 1);

  // Accordion
  --accordion: hsla(225, 100%, 19%, 1);
  --accordion-title: hsla(0, 0%, 96%, 1);
  --accordion-chevron: hsla(0, 0%, 96%, 1);

  // header
  --header-bg: hsla(38, 34%, 59%, 1);

  // notification
  --nofication-bg: hsla(30, 10%, 8%, 1);
  --notification-stroke: hsla(0, 0%, 54%, 1);
  --notification-text: hsla(0, 0%, 100%, 1);
  --notification-icon: hsla(0, 0%, 100%, 1);

  // input
  --input-bg: hsla(0, 0%, 100%, 1);
  --input-outline: hsla(0, 0%, 0%, 0.2);
  --input-text: hsla(0, 0%, 0%, 1);
  --input-lbl: hsla(0, 0%, 0%, 0.5);
  --char-limit: hsla(205, 16%, 38%, 1);

  //Radio Btn
  --radio-label: hsla(240, 27%, 6%, 1);
  --radio-checked: hsla(47, 87%, 58%, 1);
  --radio-checked-stroke: hsla(43, 89%, 53%, 1);
  --radio-unchecked: hsla(0, 0%, 100%, 1);
  --radio-unchecked-stroke: hsla(0, 0%, 86%, 1);
  //Check-Box Btn

  --checkbox-label: hsla(240, 27%, 6%, 1);
  --checkbox-checked: linear-gradient(270deg, #f48218 -6.7%, #f4b418 106.7%);
  --checkbox-checked-stroke: transparent;
  --checkbox-unchecked: hsla(0, 0%, 100%, 1);
  --checkbox-unchecked-stroke: hsla(29, 91%, 53%, 1);

  --main-bg: hsla(240, 8%, 95%, 1);
}
