:root {
  /* Open Sans Font */
  --light-ff: 'FigtreeLight', sans-serif;
  --regular-ff: 'FigtreeRegular', sans-serif;
  --medium-ff: 'FigtreeMedium', sans-serif;
  --bold-ff: 'FigtreeBold', sans-serif;
  --black-ff: 'FigtreeBlack', sans-serif;
}